---
import ScoreCard from "@components/ScoreCard.astro"
var scoreData;
import BaseLayout from "@layouts/BaseLayout.astro";
import Papa from "papaparse";
import fs from "fs";
const csvText = fs.readFileSync("./public/krcsvs/KhoKho.csv","utf-8")
const jsonData = Papa.parse(csvText, {
  header: true,
  skipEmptyLines: true,
}).data;

---
<BaseLayout title="KhoKho" sideBarActiveItemID="KhoKho">
    <div class="flex text-3xl w-full font-bold mb-5 justify-left">Kho-Kho</div>
    <div class="flex flex-wrap gap-4 justify-center">
    </div>
{   
    jsonData.map(score => (
    <ScoreCard 
        type = "khokho"
        matchno = {score.MATCHNO}
        date = {score.DATE}
        teamA = {score.TEAMA}
        teamB = {score.TEAMB}
        scoreA = {score.SCOREA}
        scoreB = {score.SCOREB}
        exA = {score.OVA}
        exB = {score.OVB}
        result = {score.RESULT}
        winBy = {score.WIN_BY}
        href = {score.HREF}
    />
)
)
}
</BaseLayout>