---
const {matchno,date,teamA,teamB,scoreA,scoreB,exA,exB,result,winBy,href,type} = Astro.props;
var winner;
var {teamAclass,teamBclass} = Astro.props
var link;
var target;
var extraA;
var extraB;
var winBY;

if (href != "") {
    link = href  
    target = "_blank"
}
else
{
    link = ""
    target = "_parent"
}

if (type == "cricket")
{
    extraA = "(" + exA + ")";
    extraB = "(" + exB+ ")"
    winBY = "WON By " + winBy
    if (result == teamA) {
        winner = teamA
        teamAclass = "winclass"
        teamBclass = "loseclass"
    }
    if (result == teamB) {
        winner = teamB
        teamAclass = "loseclass"
        teamBclass = "winclass"
    } 
}

else
{
    extraA = ""
    extraB = ""
}
if (type == "frisbee")
{
    extraA = " (Spirit: " + exA + ")";
    extraB = " (Spirit: " + exB + ")";
    if (result == (teamA + " Won"))
    {
        winner = teamA
        teamAclass = "winclass"
        teamBclass = "loseclass"
    }
    else 
    {
        teamAclass = "winclass"
        teamBclass = "winclass"
    }
    if (result == (teamB+" "+"Won"))
    {
        winner = teamB
        teamAclass = "loseclass"
        teamBclass = "winclass"
    }
}

---
<head>
    <style>
        .scorecard {border: 20px; font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji;";}
        .date {color: brown; text-align: right;}
        .teamname{text-align: left;font-size: large; }
        .match {color: black; font-size: medium; display: flex; justify-content: space-between; margin-bottom: 12px; ; }
        .winclass{ color: black; display: flex; justify-content: space-between; min-height: 40px ;background-color: rgb(182, 215, 186);}
        .loseclass{color: black; display: flex; justify-content: space-between;  min-height:40 px; background-color: rgb(238, 189, 189);}
        .score{display: flex;justify-content: end; }
        .extrainfo{}
        .result{font-weight: bolder; font-size: large;}
        hr{height: 4px;border-width: 2px; border-color: rgb(231, 152, 55);}
        bold{color: darkgreen;}
        italic{color: brown;}
    </style>    
</head>

<div class="card-actions justify-end"></div>

<div class="card bg-base-100 transition ease-in-out hover:shadow-xl mx-6 my-2 hover:scale-[102%] md:w-2/5" style="background-color: rgb(215, 213, 203); justify-self:center; ">
    <a href={link} target= {target}>
    <div class="card-body">
        <div class="scorecard">
            <div class="match">
                <span>
                    MATCH : {matchno}
                </span>
                <span class="date">
                    {date}
                </span>

            </div>
            <hr>
            
            
            <div class= {teamAclass}>
                <div class=teamname>
                    {teamA}
                </div>
                <div class="score">
                    <bold>{scoreA}</bold>
                
                <div class="extrainfo">
                    {extraA}
                </div>
                </div>
            </div>
            <div class= {teamBclass}>
                <div class="teamname">
                    {teamB}
                </div>
                <div class="score">
                    <bold>{scoreB}</bold>
                    <div class="extrainfo">
                        {extraB}
                    </div>
                </div>
            </div>
            
            <hr>
            <div class="result">
                <bold>{result}</bold>  <italic>{winBY}</italic>
            </div>
        </div>
      <div class="card-actions justify-end">
      </div>
  </div>
  </a>
</div>
